{% extends "base_templates/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
<h1>{% trans "E-mail Addresses" %}</h1>
{% if visitor.email %}

<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>
<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">
<div class="ctrlHolder">
      <label for="email_radio_1" class="primary_email">

  <input id="email_radio_1" type="radio" name="email" checked="checked" value="{{visitor.email}}"/>
{{ visitor.email }}
<span class="verified">{% trans "Verified" %}</span>
<span class="primary">{% trans "Primary" %}</span>
</label>

</div>
<div class="buttonHolder">
      <button class="secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
</div>
</fieldset>
</form>
{% else %}

<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
{% endif %}

<h2>{% trans "Add E-mail Address" %}</h2>

<form method="post" action="{% url 'account_email' %}" class="add_email">
    {% csrf_token %}
    {{ visitor_form.as_p }}
    <button name="action_add" type="submit">{% trans "Add E-mail" %}</button>
</form>
{% endblock %}

{% block extra_body %}

<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}